* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Importa la fuente */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap');

/* Define las clases para diferentes pesos de la fuente */
.maven-pro-light {
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
}

.maven-pro-regular {
    font-family: "Maven Pro", sans-serif;
    font-weight: 500;
}

.maven-pro-medium {
    font-family: "Maven Pro", sans-serif;
    font-weight: 600;
}

.maven-pro-bold {
    font-family: "Maven Pro", sans-serif;
    font-weight: 700;
}

.maven-pro-extra-bold {
    font-family: "Maven Pro", sans-serif;
    font-weight: 800;
}

.maven-pro-black {
    font-family: "Maven Pro", sans-serif;
    font-weight: 900;
}
/*fin de las variantes de fuentes*/

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background: #e2e2e2;
}

/*inicio de parte superior*/
.navbar {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 10px 20px;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.nav-left {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-right {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.nav-item:hover {
    background-color: #115cfd;
}

.parte-superior{
background: url('https://img.freepik.com/fotos-premium/fondo-pared-ladrillo-simbolo-luz-neon-fondo-imagen-telefono-escritorio-papel-pared-fondos-hd_913266-18580.jpg?w=826');
background-position: center;
background-size: cover;
width: auto;
height: 600px;
background-repeat: no-repeat;
}

h1 {
    color: #ffffff;
    font-size: 5em;
    text-shadow: 6px 5px 10px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease, transform 0.3s ease;
    text-align: left; /* Asegura que el texto esté centrado */
    margin: 40px 0px 0px 30px;
    position: relative;
}

.primer-parrafo {
    font-size: 15px;
    position: relative;
    color: #ffffff;
    text-align: left;
    margin: 330px 120px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/*fin de parte superior*/

/*incio video*/

.section-video {
    border: whitesmoke solid 15px;
    margin-top: 100px;
    margin-bottom: 60px;
    position: relative;
    overflow: hidden;
    width: 560px;
    height: 720px; /* Ajusta la altura a toda la ventana del navegador */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff; /* Asegúrate de que el texto sea visible sobre el video */
}

.video-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra todo el contenedor */
    z-index: -1; /* Coloca el video detrás del contenido */
    opacity: 0.65; /* Ajusta la opacidad del video */
}

.contenido {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté encima del video */
    text-align: center;
    padding: 20px;
}

.titulo-video{
    margin-bottom: 40px;
}

.parrafo-video{
    padding-top: 30px;
    font-size: 25px;
    text-shadow: 6px 5px 10px rgba(0, 0, 0, 0.836);
}

.trabajo-imagen-video{
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;
    gap: 90px;
}

.trabajo-imagen-video img {
    width: 500px;
    height: 360px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.226);
    opacity: 0.75;
}

/*fin video*/

/* inicio informacion index*/
.contenedor-info {
    margin-top: 50px;
    padding-top: 30px;
    margin-bottom: 90px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: stretch; /* Cambiado de center a stretch */
}

.informacion {
    background-color: #115cfde1;
    color: #FFFFFF;
    padding: 20px;
    margin: 30px;
    width: 30%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* fin informacion index*/

.descargas{
    text-align: center;
    align-items: center;
}

.info-section{
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    width: 30%;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
    text-align: center;
}

.imagenes-galeria {
    margin: 60px 0;
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
    height: 510px; /* Asegura que ocupe toda la altura de la ventana */
}

.publicidad {
    height: 100%;
    width: 240px;
}

.publicidad video {
    border: #3a3a3a 1px solid;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.galeria {
    margin: 0 20px;
    display: flex;
    justify-content: center; /* Centra las imágenes dentro de la galería */
    width: 70%; /* Ajusta el ancho según sea necesario */
    height: 100%;
}

.galeria img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

.galeria img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1.1;
    filter: contrast(120%);
}

/* fin galeria img */

/*inicio cars de contacto*/

.sectionCards {
    display: flex;
    justify-items: center;
    align-items: center;
}

.contenedorCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.card {
    width: 230px;
    height: 310px;
    background-color: #3babdf;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    margin: auto;
    margin-left: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 8px 15px #0000005e;
}

.imgCard {
    margin: 10px;
    width: 210px;
    height: 260px;
    background-color: whitesmoke;
    transition: transform 1s ease-in-out;
    border-radius: 5px;
}

.imgCard img {
    width: 210px;
    height: 260px;
    border-radius: 5px;
}

.botonDescargaCv {
    margin-left: 45px;
    margin-bottom: 10px;
    background-color: #eb42d4;
    border-radius: 3px;
    width: 60%; /* Añade un margen superior para separar el botón de la imagen */
}

.botonDescargaC:hover{

}


.card:hover{
    transform:scale(1.05) ;
}



/*fin cars de contacto*/

/*Estilos para el botón flotante de WhatsApp de la pagina de contactos*/
.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 1000;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.whatsapp-float i {
    margin-top: 16px;
}

.whatsapp-float:hover {
    background-color: #128c7e;
    color: #FFF;
    transform: scale(1.2) rotate(20deg); /* Agranda y rota el icono al 120% */
}
/*fin del estilo del boton de Whatsapp de la pagina de contactos*/


.contenedor-formulario {
    background-color: transparent; /* Fondo transparente */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Ancho máximo */
    width: 100%; /* Asegura que el contenedor no exceda el ancho máximo */
    margin: auto; /* Centra el contenedor horizontalmente */
    margin-top: 100px;
    margin-bottom: 100px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra los elementos dentro del formulario */
}
label, input, textarea {
    margin-bottom: 10px;
    width: 100%; /* Asegura que los elementos ocupen todo el ancho disponible */
}
input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.boton-email {
    padding: 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

/*inicio del footer*/
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #115cfd;
    color: #FFFFFF;/* Degradado de más claro a más oscuro */
    padding: 20px 0;
    align-items: center;
}

.redes-sociales{
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
    text-decoration: none;
    list-style-type: none
}


.boton-footer {
    width: 50px;
    height: 50px;
    margin: 0 15px; /* Espacio entre los iconos */
    transition: transform 0.3s; /* Transición suave */
    object-fit: cover;
     /* Asegura que las imágenes mantengan sus proporciones */
}

.footer a:hover .boton-footer {
    transform: scale(1.4); /* Agranda el icono al 120% */
    filter: contrast(150%);
}

.texto-footer{
    text-align: left;
    margin-left: 40px;
}
